body{
  color: #40515E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1
{
  color: #66bfbf;
  font-size: 3.625rem;
  font-family: 'Sacramento', cursive;
  margin-top:50px auto 0 auto;

}
h2
{
  color: #66bfbf;
  font-size: 2.625rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 20px;
}
h3
{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 2;
}
hr{
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  border-color: grey;
  margin: 100px auto;
}
.intro{
  width:50%;
  margin: auto;
}
.first{
  float: left;
  border-radius: 50%;
  width:29%;
  margin-right: 30px;
}
.second{
  float: right;
  border-radius: 50%;
  width:31%;
  margin-left :30px;
}

.skill-row{
  margin:100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.top-container{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container
{
 background-color: #66bfbf;
 padding: 50px 0 20px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 20px;
}
.bottom-cloud{
  position: absolute;
  left:50px;
  top:250px;
}
.contact-message{
  width: 30%;
  margin:40px auto 60px auto ;
}
.copyright{
  color: #eaf6f6;
  font-family: 'Merriweather', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn
{
  background: #11ccd4;
  background-image: -webkit-linear-gradient(top, #11ccd4, #11999e);
  background-image: -moz-linear-gradient(top, #11ccd4, #11999e);
  background-image: -ms-linear-gradient(top, #11ccd4, #11999e);
  background-image: -o-linear-gradient(top, #11ccd4, #11999e);
  background-image: linear-gradient(to bottom, #11ccd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover
{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #11999e;
  margin:10px 20px;
  text-decoration:none;
}
a:hover{
  color: #eaf6f6;
}
